*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #CDD1E1;
    font-family: "Noto Sans TC", sans-serif;
}

header{
    width: 100%;
    height: 220px;
    background-color: #4667D1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: white;
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    cursor: pointer;
    background-color: #4667D1;
}

.title_img{
    width: 67px;
    height: 28px;
    background-color: #4667D1;
}

.title_name{
    font-size: 30px;
    font-weight: bold;
    background-color: #4667D1;
    letter-spacing: 0.25em
}

.title_button{
    display: flex;
    gap: 60px;
    background-color: #4667D1;
}

button{
    padding: 13px 30px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: white;
    opacity: 0.6;
    cursor: pointer;
    letter-spacing: 0.05em;
}

button:hover{
    opacity: 1;
    box-shadow: 3px 5px rgba(0, 0, 0, 0.305);
    transition: .2s all ease-in;
}

.active{
    opacity: 1;
    box-shadow: 3px 5px rgba(0, 0, 0, 0.305);
}

main{
    padding: 50px;
    height: 800px;
    /* height: 150vh; */
    height: auto;
    background-color: #CDD1E1;
    display: grid;
    grid-template-columns: 506px 759px; 
    gap: 20px;
    justify-content: center;
}

.date{
    width: 100%;
    grid-row: 1/2;
    grid-column: 2/3;
    text-align: center;

    display: grid;

    background-color: white;
    color: gray;
    border-radius: 5px;
    border: 1px solid rgb(85, 116, 200);
}

.day{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.day0, .day1, .day2{
    padding: 10px 0;
    border-bottom: 1px solid rgb(85, 116, 200);
    cursor: pointer;
    background-color: white;
}

.day0, .day1{
    border-right: 1px solid rgb(85, 116, 200);
}

.day0:hover, .day1:hover, .day2:hover{
    background-color: rgb(85, 116, 200);
    color: white;
    transition: 0.2s all ease-in;
}

.now_date{
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
    background-color: white;
}

.active_date{
    background-color: rgb(57, 93, 190);
    color: white;
    font-weight: bold;
}

.left{
    grid-row: 2/2;
    position: relative;
}

svg{
    width: 480px;
    fill: #079992;
    stroke:white;
    position: absolute;
    top: 50px;
}

.active{
    fill: rgb(57, 93, 190);
    transition: .4s all ease-in;
    box-shadow:4px 4px rgba(20%,20%,40%,0.5);
}

.map_county_box{
    color: rgb(80, 78, 78);
    box-shadow:4px 4px rgba(20%,20%,40%,0.5);
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    opacity: 0.8;
    position: absolute;
    z-index: 1;

    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 13%;
    gap: 2px;
}

.opacity{
    opacity: 0.8;
    background-color: rgb(234, 234, 145);
    z-index: 2;
    transition: .4s all ease-in;
}

.map_img{
    width: 50%;
    background: none;
}

.temperature{
    background: none;
}

.lower_temperature{
    color: #2555cf;
    background: none;
}

.hight_temperature{
    color: #cf2544;
    background: none;
}

.tilde, .degreeC, .city{
    background: none;
}

.map_county_box[name=C6]{
    left: 70%;
    top: 3%;
}

.map_county_box[name=C2]{
    left: 65%;
    top: 15%;
}

.map_county_box[name=C19]{
    left: 83%;
    top: 11%;
}

.map_county_box[name=C14]{
    left: 53%;
    top: 7%;
}

.map_county_box[name=C4]{
    left: 41%;
    top: 12%;
}

.map_county_box[name=C5]{
    left: 54%;
    top: 22%;
}

.map_county_box[name=C9]{
    left: 34%;
    top: 20%;
}

.map_county_box[name=C12]{
    left: 41%;
    top: 29%;
}

.map_county_box[name=C15]{
    left: 49%;
    top: 37%;
}

.map_county_box[name=C21]{
    left: 24%;
    top: 27%;
}

.map_county_box[name=C10]{
    left: 20%;
    top: 35%;
}

.map_county_box[name=C3]{
    left: 42%;
    top: 48%;
}

.map_county_box[name=C1]{
    left: 17%;
    top: 44%;
}

.map_county_box[name=C7]{
    left: 19%;
    top: 52%;
}

.map_county_box[name=C16]{
    left: 23%;
    top: 60%;
}

.map_county_box[name=C18]{
    left: 43%;
    top: 74%;
}

.map_county_box[name=C13]{
    left: 56%;
    top: 57%;
}

.map_county_box[name=C11]{
    left: 70%;
    top: 36%;
}

.map_county_box[name=C8]{
    left: 80%;
    top: 21%;
}

.map_county_box[name=C20]{
    left: 0%;
    top: 48%;
}

.map_county_box[name=C17]{
    left: 5%;
    top: 32.5%;
}

.map_county_box[name=C22]{
    left: 12%;
    top: 20%;
}

.right{
    grid-row: 2/2;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tabs{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tab{
    min-width: 143px;
    min-height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: white;
    border-radius: 5px;
}

.tab:hover{
    box-shadow:4px 4px 12px 4px rgba(20%,20%,40%,0.5);
}

.active_tab{
    box-shadow:4px 4px 12px 4px rgba(20%,20%,40%,0.5);
}

.tab_name{
    background-color: #DFE4F2;
    width: 100%;
    padding: 8px 0;
    text-align: center;
    border-radius: 5px;
}

.tab_img{
    width: 55%;
    height: 100%;
    background-color: white;   
}

.rain{
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: white;  
}

.rain img, .rain span{
    background-color: white;  
}

.footer {
    background-color: #4667d1;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-block {
    height: 150px;
    background-color: #4667d1;
  }
  .footer-text1 {
    margin: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 17px;
    color: #ffffff;
    background-color: #4667d1;
  }
  .footer-text2 {
    margin: 5px;
    text-align: center;
    font-weight: 700;
    font-size: 17px;
    color: #ffffff;
    background-color: #4667d1;
  }
  .footer-text3 {
    margin: 5px;
    text-align: center;
    font-weight: 700;
    font-size: 17px;
    color: #ffffff;
    background-color: #4667d1;
  }