.icon-0 {
  top: 40%;
  left: 35%;
}
.icon-1 {
  top: 10%;
  left: 42%;
}
.icon-2 {
  top: 15%;
  left: 35%;
}
.icon-3 {
  top: 3%;
  left: 50%;
}
.icon-4 {
  top: 40%;
  left: 18%;
}
.icon-5 {
  top: 5%;
  left: 11%;
}
.icon-6 {
  top: 55%;
  left: 20%;
}
.icon-7 {
  top: 65%;
  left: 35%;
}
.icon-8 {
  top: 20%;
  left: 30%;
}
.icon-9 {
  top: 43%;
  /* left: ; */
}
.icon-10 {
  top: 10%;
  left: 70%;
}
.icon-11 {
  top: 26%;
  left: 24%;
}
.icon-12 {
  top: 30%;
  left: 80%;
}
.icon-13 {
  top: 33%;
  left: 17%;
}
.icon-14 {
  top: 57%;
  left: 62%;
}
.icon-15 {
  top: 0;
  left: 80%;
}
.icon-16 {
  top: -1%;
  left: 65%;
}
.icon-17 {
  top: 15%;
  left: 90%;
}
.icon-18 {
  top: 47%;
  left: 15%;
}
.icon-19 {
  top: 27%;
  left: 3%;
}
.icon-20 {
  top: 15%;
  left: 60%;
}
.icon-21 {
  top: 32%;
  left: 52%;
}
