<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/weather_week.css">
</head>

<body>
    <div class="navwrap">
        <div class="navbar">
            <div class="Wtitle">
                <img src="/static/images/Frame.png">
                <h2>世界無敵氣象網</h2>
            </div>
            <div class="menu">
                <div class="forecast">
                    <h2>縣市預報總覽</h2>
                </div>
                <div class="weekWeather">
                    <h2>一週天氣預報</h2>
                </div>
                <div class="latest">
                    <h2>最新天氣觀測</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <table>
                <tr class="table_top">
                    <th class="county">
                        <div class="heading">
                            <p>縣市</p>
                        </div>
                    </th>
                    <th class="time">
                        <div class="heading">
                            <p>時間</p>
                        </div>
                    </th>
                    <!-- <th>
                        <div class="heading">
                            <p>01/06</p>
                            <p>星期三</p>
                        </div>
                    </th>
                    <th>
                        <div class="heading">
                            <p>01/05</p>
                            <p>星期四</p>
                        </div>
                    </th>
                    <th>
                        <div class="heading">
                            <p>01/06</p>
                            <p>星期五</p>
                        </div>
                    </th>
                    <th class="holiday">
                        <div class="heading">
                            <p>01/07</p>
                            <p>星期六</p>
                        </div>
                    </th>
                    <th class="holiday">
                        <div class="heading">
                            <p>01/08</p>
                            <p>星期日</p>
                        </div>
                    </th>
                    <th>
                        <div class="heading">
                            <p>01/09</p>
                            <p>星期一</p>
                        </div>
                    </th>
                    <th>
                        <div class="heading">
                            <p>01/10</p>
                            <p>星期二</p>
                        </div>
                    </th> -->
                </tr>

                <tr class="morning morning_keelung">
                    <th rowspan="2">
                        <div>基隆市</div>
                    </th>
                    <td>
                        <div>白天</div>
                    </td>
                    <!-- <td class="day1">
                        <span class="signal">
                            <img src="/V8/assets/img/weather_icons/weathers/svg_icon/day/14.svg" title="陰有雨">
                            <p>17°-18°</p>
                        </span>
                    </td> -->
                </tr>
                <tr class="night night_keelung">
                    <td>
                        <div>晚上</div>
                    </td>
                    <!-- <td class="day1">
                        <span class="signal">
                            <img src="/V8/assets/img/weather_icons/weathers/svg_icon/night/14.svg" title="陰有雨">
                            <p>17 - 17</p>
                        </span>
                    </td> -->
                </tr>


                <tr class="morning morning_taipei">
                    <th rowspan="2">
                        <div>臺北市</div>
                    </th>
                    <td>
                        <div>白天</div>
                    </td>
                </tr>
                <tr class="night night_taipei">
                    <td>
                        <div>晚上</div>
                    </td>
                </tr>

                <tr class="morning morning_sinpei">
                    <th rowspan="2">
                        <div>新北市</div>
                    </th>
                    <td>
                        <div>白天</div>
                    </td>
                </tr>
                <tr class="night night_sinpei">
                    <td>
                        <div>晚上</div>
                    </td>
                </tr>

                <tr class="morning morning_taoyuan">
                    <th rowspan="2">
                        <div>桃園市</div>
                    </th>
                    <td>
                        <div>白天</div>
                    </td>
                </tr>
                <tr class="night night_taoyuan">
                    <td>
                        <div>晚上</div>
                    </td>
                </tr>

                <tr class="morning morning_xinzhu">
                    <th rowspan="2">
                        <div>新竹市</div>
                    </th>
                    <td>
                        <div>白天</div>
                    </td>
                </tr>
                <tr class="night night_xinzhu">
                    <td>
                        <div>晚上</div>
                    </td>
                </tr>

                <!-- <tr class="morning morning_xinzhuCounty">
                    <th rowspan="2">
                        <div>新竹縣</div>
                    </th>
                    <td>
                        <div>白天</div>
                    </td>
                </tr>
                <tr class="night night_xinzhuCounty">
                    <td>
                        <div>晚上</div>
                    </td>
                </tr> -->
                <tr class="morning morning_miaoli">
                    <th rowspan="2">
                        <div>苗栗縣</div>
                    </th>
                    <td>
                        <div>白天</div>
                    </td>
                </tr>
                <tr class="night night_miaoli">
                    <td>
                        <div>晚上</div>
                    </td>
                </tr>

                <tr class="morning morning_Taichung">
                    <th rowspan="2">
                        <div>臺中市</div>
                    </th>
                    <td>
                        <div>白天</div>
                    </td>
                </tr>
                <tr class="night night_Taichung">
                    <td>
                        <div>晚上</div>
                    </td>
                </tr>

                <tr class="morning morning_Changhua">
                    <th rowspan="2">
                        <div>彰化縣</div>
                    </th>
                    <td>
                        <div>白天</div>
                    </td>
                </tr>
                <tr class="night night_Changhua">
                    <td>
                        <div>晚上</div>
                    </td>
                </tr>

                <tr class="morning morning_Nantou">
                    <th rowspan="2">
                        <div>南投縣</div>
                    </th>
                    <td>
                        <div>白天</div>
                    </td>
                </tr>
                <tr class="night night_Nantou">
                    <td>
                        <div>晚上</div>
                    </td>
                </tr>

                <tr class="morning morning_Yunlin">
                    <th rowspan="2">
                        <div>雲林縣</div>
                    </th>
                    <td>
                        <div>白天</div>
                    </td>
                </tr>
                <tr class="night night_Yunlin">
                    <td>
                        <div>晚上</div>
                    </td>
                </tr>

                <tr class="morning morning_Chiayi">
                    <th rowspan="2">
                        <div>嘉義市</div>
                    </th>
                    <td>
                        <div>白天</div>
                    </td>
                </tr>
                <tr class="night night_Chiayi">
                    <td>
                        <div>晚上</div>
                    </td>
                </tr>

                <!-- -------------- -->

                <tr class="morning morning_ChiayiCounty">
                    <th rowspan="2">
                        <div>嘉義縣</div>
                    </th>
                    <td>
                        <div>白天</div>
                    </td>
                </tr>
                <tr class="night night_ChiayiCounty">
                    <td>
                        <div>晚上</div>
                    </td>
                </tr>

                <tr class="morning morning_Tainan">
                    <th rowspan="2">
                        <div>臺南市</div>
                    </th>
                    <td>
                        <div>白天</div>
                    </td>
                </tr>
                <tr class="night night_Tainan">
                    <td>
                        <div>晚上</div>
                    </td>
                </tr>

                <tr class="morning morning_Kaohsiung">
                    <th rowspan="2">
                        <div>高雄市</div>
                    </th>
                    <td>
                        <div>白天</div>
                    </td>
                </tr>
                <tr class="night night_Kaohsiung">
                    <td>
                        <div>晚上</div>
                    </td>
                </tr>

                <tr class="morning morning_Pingtung">
                    <th rowspan="2">
                        <div>屏東縣</div>
                    </th>
                    <td>
                        <div>白天</div>
                    </td>
                </tr>
                <tr class="night night_Pingtung">
                    <td>
                        <div>晚上</div>
                    </td>
                </tr>

                <tr class="morning morning_Yilan">
                    <th rowspan="2">
                        <div>宜蘭縣</div>
                    </th>
                    <td>
                        <div>白天</div>
                    </td>
                </tr>
                <tr class="night night_Yilan">
                    <td>
                        <div>晚上</div>
                    </td>
                </tr>

                <tr class="morning morning_Hualien">
                    <th rowspan="2">
                        <div>花蓮縣</div>
                    </th>
                    <td>
                        <div>白天</div>
                    </td>
                </tr>
                <tr class="night night_Hualien">
                    <td>
                        <div>晚上</div>
                    </td>
                </tr>

                <tr class="morning morning_Taitung">
                    <th rowspan="2">
                        <div>臺東縣</div>
                    </th>
                    <td>
                        <div>白天</div>
                    </td>
                </tr>
                <tr class="night night_Taitung">
                    <td>
                        <div>晚上</div>
                    </td>
                </tr>

                <tr class="morning morning_Penghu">
                    <th rowspan="2">
                        <div>澎湖縣</div>
                    </th>
                    <td>
                        <div>白天</div>
                    </td>
                </tr>
                <tr class="night night_Penghu">
                    <td>
                        <div>晚上</div>
                    </td>
                </tr>

                <tr class="morning morning_Kinmen">
                    <th rowspan="2">
                        <div>金門縣</div>
                    </th>
                    <td>
                        <div>白天</div>
                    </td>
                </tr>
                <tr class="night night_Kinmen">
                    <td>
                        <div>晚上</div>
                    </td>
                </tr>

                <tr class="morning morning_Lienchiang">
                    <th rowspan="2">
                        <div>連江縣</div>
                    </th>
                    <td>
                        <div>白天</div>
                    </td>
                </tr>
                <tr class="night night_Lienchiang">
                    <td>
                        <div>晚上</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="footer">
        <div class="footer-block">
            <div class="footer-text1">COPYRIGHT © 世界無敵氣象網</div>
            <div class="footer-text2">Contributors :</div>
            <div class="footer-text3">吳俊寬、陳筱璇、陳思蘋、張舒婷、林佩儀</div>
        </div>
    </div>

    <script src="/static/js/weather_week.js"></script>
</body>

</html>